parameters:
    level: max
    paths:
        - src
        - tests
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#PHPDoc tag @throws with type JsonException#'
        - '#Variable \$json[A-Za-z]* might not be defined#'
        - '#Call to function is_string\(\) with mixed will always evaluate to true#'
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
    tmpDir: .phpstan.cache
